:host {
    display: block;
}

.container .wrap-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container button.add-user {
    display: block;
    font-weight: 700;
    margin: 0 auto;
    padding: 1rem;
}

.big-text {
    text-transform: uppercase;
}